# CLion
.idea/

# Build
cmake-build-*/
build/
Appli/build/
FSBL/build/

# STM32 binaries
*.elf
*.hex
*.bin
*.map
*.list

# CubeIDE
*.launch

# Local references
Reference_BAW_IB/
Refecrence_BAW_IB/

# OS
Thumbs.db
Desktop.ini
